# WebDevops Server ENVS
WEB_DOCUMENT_ROOT=/app/public

# MariaDB ENVS
MARIADB_ROOT_PASSWORD=123456
MARIADB_DATABASE=beerfinder

# MongoDB ENVS
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=123456